@model cerberus.Models.edmx.Warehouse

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="container">
    @using (Html.BeginForm("Create", "Warehouses", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h2>Создание склада</h2>

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="name" class="control-label col-md-2">Название:</label>
                <div class="col-md-10">
                    <input type="text" name="name" class="form-control" />
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <input name="department_id" type="hidden" value="@ViewContext.RouteData.Values["id"]">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </div>
        </div>
    }

    <div class="row mt-3">
        <div class="col-md-12">

        </div>
    </div>
</div>