@model cerberus.Models.ViewModels.WarehouseViewModel
@{
    var users = ((Dictionary<string, cerberus.Models.ViewModels.ApplicationUserViewModel>)ViewBag.Users);
}

<div class="container">
    <h2>Информация о складе</h2>
    <hr />

    <div>
        <h4>Отдел: @Html.DisplayFor(model => model.Department.name)</h4>
        <h4>Склад: @Html.DisplayFor(model => model.name)</h4>
        <hr />

        <div>
            <a href="@Url.Action("CreateWHReplenishmentWorkShiftReport", "Reports", new { id = Model.id })">Создать отчет о приемке ПП</a>
            <a href="@Url.Action("CreateWHReleaseReport", "Reports", new { id = Model.id })">Создать отчет о выдаче</a>
            <a href="@Url.Action("CreateWHInventarisationReport", "Reports", new { id = Model.id })">Создать отчет об инвентаризации</a>
            <a href="@Url.Action("CreateWHReplenishmentReport", "Reports", new { id = Model.id })">Создать отчет о приемке</a>
            <a href="@Url.Action("CreateWHShipmentReport", "Reports", new { id = Model.id })">Создать отчет об отгрузке</a>
        </div>
        <hr />

        <div>
            <h4>Отчеты</h4>
            <table class="table">
                <tr>
                    <th>Тип отчета</th>
                    <th>Ответственный</th>
                    <th></th>
                </tr>

                @foreach (var r in ((IList<cerberus.Models.ViewModels.Reports.ReportViewModel>)ViewBag.ReportList))
                {
                    <tr>
                        <td><p>@r.get_type_as_string()</p></td>
                        <td>@Html.DisplayFor(modelItem => users[r.creator_id].UserName)</td>
                        <td>
                            <a href="@Url.Action("Edit", "Reports", new { id = r.id })">Редактировать</a> |
                            <a href="@Url.Action("Details", "Reports", new { id = r.id })">Детали</a> |
                            <a href="@Url.Action("Delete", "Reports", new { id = r.id })">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <hr />

        <div>
            <h4>Состояние склада</h4>
            <div class="mx-5 my-2">
                <h5>Содержимое склада</h5>
                <div class="mx-5">
                    @if (((IList<(cerberus.Models.ViewModels.ItemViewModel, int)>)ViewBag.StorageState).Count() == 0)
                    {
                        <p>Ничего</p>
                    }
                    @foreach (var item in ((IList<(cerberus.Models.ViewModels.ItemViewModel, int)>)ViewBag.StorageState))
                    {
                        <p>@Html.DisplayFor(model => item.Item1.name):  @Html.DisplayFor(model => item.Item2)</p>
                    }
                </div>
                
                <div>
                    @{
                        var errors = (IList<IError>)ViewBag.State.Item1;
                        var warnings = (IList<IWarning>)ViewBag.State.Item2;
                    }
                    <div>
                        <h5>Ошибки</h5>
                        @if (errors.Count() == 0)
                        {
                            <p>Ничего</p>
                        }
                        @foreach (var e in errors)
                        {
                            @Html.Raw(e.get_html())
                        }
                    </div>
                    <div>
                        <h5>Предупреждения</h5>
                        @if (warnings.Count() == 0)
                        {
                            <p>Ничего</p>
                        }
                        @foreach (var e in warnings)
                        {
                            @Html.Raw(e.get_html())
                        }
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <hr />
    <div class="form-actions no-color">
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })

    </div>
</div>