@model cerberus.Models.ViewModels.WarehouseEditModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h2>Информация о складе</h2>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label for="name" class="control-label col-md-2">Название:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите название склада" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
}

<div class="container">

</div>