@model IEnumerable<cerberus.Models.edmx.Warehouse>

<div class="container">
    <h2>Список складов</h2>

    <p>
        @if (ViewContext.RouteData.Values.ContainsKey("id"))
        {
            @Html.ActionLink("Создать новый", "Create", new { id = ViewContext.RouteData.Values["id"], returnUrl = ViewBag.ReturnUrl }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Создать новый", "Create", null, new { @class = "btn btn-primary" })
        }
    </p>

    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th>
                Отдел
            </th>
            <th>Действия</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id }, new { @class = "btn btn-danger" }) |
                    @Html.ActionLink("Управление доступом", "ManageAccess", new { id = item.id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </table>
</div>