
@model cerberus.DTO.WareHouseRolesDTO

@{
    ViewBag.Title = "Edit User";
}

<h2>Groups</h2>

@using (Html.BeginForm("ManageAccess", "Warehouses", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.warehouse.id" hidden>

    <div id="roleContainer">
        <label for="Roles">User Roles:</label>
        <button type="button" id="addRoleButton" class="btn btn-primary">Add Role</button>
        @for (var i = 0; i < Model.Roles.Count(); i++)
        {
            var selectedRole = Model.Roles[i];
            <div class="roleRow">
                <select class="form-control" name="Roles[@Guid.NewGuid().ToString()]" value="@selectedRole">
                    <option value="">Select Roles</option>
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.Name" @(role.Name == selectedRole ? "selected" : "")>@role.Name</option>
                    }
                </select>
                <button class="removeRole">Удалить</button>
            </div>
        }
    </div>

    

    <input type="submit" value="Save" />
}

@Html.ActionLink("Back to List", "Index")

<div class="roleVariantStorage visually-hidden">
    @foreach (var role in ViewBag.Roles)
    {
        <option value="@role.Name">@role.Name</option>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $("#addRoleButton").click(function () {
                var roleRow = '<div class="roleRow">' +
                    '<select class="form-control" name="Roles[' + generateRandomUUID() + ']">' +
                    $('.roleVariantStorage').html() +
                    '</select>' +
                    '<button class="removeRole">Удалить</button>' +
                    '</div>';
                $("#roleContainer").append(roleRow);
            });
            $("#roleContainer").on("click", ".removeRole", function (event) {
                event.stopPropagation();
                $(this).parent().remove();
            });
        });
    </script>
}
