@model cerberus.Models.edmx.ItemsRegistry

<div class="container">
    <h2>Реестр предметов</h2>
    <hr />

    <div>
        <h3>Вы уверены, что хотите удалить это?</h3>
        <h4>Информация о предмете</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="name" class="control-label">Наименование:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                <label for="units" class="control-label">Единицы измерения:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.units)
            </dd>

            <dt>
                <label for="batch" class="control-label">Партия:</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.batch)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">Удалить</button> |
                @Html.ActionLink("Вернуться к списку", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>