@model IEnumerable<cerberus.Models.edmx.ItemsRegistry>

<div class="container">
    <h2>Список предметов</h2>
    <hr />

    <p>
        @Html.ActionLink("Создать новый", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Единицы измерения</th>
                <th>Партия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.units)</td>
                    <td>@Html.DisplayFor(modelItem => item.batch)</td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Детали", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>