@model cerberus.DTO.ProductionRegistryItem


    <div>
        <h4>ProductionRegistry</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.production_item.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.production_item.name)
            </dd>
            @foreach (var req in Model.requirement_items)
            {
                <dt>
                    @Html.DisplayNameFor(model => req.Key.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => req.Key.name)
                </dd>

                <dt>
                    Количество
                </dt>

                <dd>
                    @Html.DisplayFor(model => req.Value)
                </dd>
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.production_item.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

