@model IEnumerable<cerberus.Models.ViewModels.DepartmentViewModel>

<div class="container">
    <h2>Список отделов</h2>
    <p>
        @Html.ActionLink("Создать новый", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.id }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Подробности", "Details", new { id = item.id }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" }) |
                        @Html.ActionLink("Управление доступом", "ManageAccess", new { id = item.id }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
