@model cerberus.Models.ViewModels.DepartmentRolesEditModel

@{
    ViewBag.Title = "Edit User";
}

<div class="container">
    <h2>Группы</h2>

    @using (Html.BeginForm("ManageAccess", "Departments", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.id">

        <div id="roleContainer">
            <label for="Roles" class="control-label">Роли:</label>
            <button type="button" id="addRoleButton" class="btn btn-primary">Добавить</button>

            @foreach (var selectedRole in Model.Groups)
            {
                <div class="roleRow form-group">
                    <select class="form-control" name="Groups[@selectedRole.Key]">
                        <option value="">Выберите роль</option>
                        @foreach (var role in ViewBag.Groups)
                        {
                            <option value="@role.Id" @(role.Id == selectedRole.Value ? "selected" : "")>@role.Name</option>
                        }
                    </select>
                    <button class="btn btn-danger removeRole">Удалить</button>
                </div>
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    }



    <div class="roleVariantStorage visually-hidden">
        @foreach (var role in ViewBag.Groups)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#addRoleButton").click(function () {
                var roleRow = '<div class="roleRow form-group">' +
                    '<select class="form-control" name="Groups[' + generateRandomUUID() + ']">' +
                    $('.roleVariantStorage').html() +
                    '</select>' +
                    '<button class="btn btn-danger removeRole">Удалить</button>' +
                    '</div>';
                $("#roleContainer").append(roleRow);
            });
            $("#roleContainer").on("click", ".removeRole", function (event) {
                event.stopPropagation();
                $(this).parent().remove();
            });
        });
    </script>
}