@model cerberus.Models.Reports.FSWorkShiftReport

@using (Html.BeginForm("Reports", "CreateFSWorkShiftReport", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Report</h4>
    <hr />

    <input name="factorysite_id" type="hidden" value="@ViewBag.factorysite_id">
    <input name="report_type" type="hidden" value="@cerberus.Models.Report.Types.FSWorkShift.ToString()">


    <div class="form-group">
        @Html.LabelFor(model => model.target_warehouse_id, "target_warehouse_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WHVariants", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.target_warehouse_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="keyValuePairs item-list-controlable-container" data-dname="produced">

        <button type="button" class="addKeyValuePair">+</button>
    </div>



    <div class="keyValuePairs item-list-controlable-container" data-dname="losses">

        <button type="button" class="addKeyValuePair">+</button>
    </div>



    <div class="keyValuePairs item-list-controlable-container" data-dname="remains">

        <button type="button" class="addKeyValuePair">+</button>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
