
@{
    ViewBag.Title = "Управление пользователями и группами";
}

<h2>Управление пользователями и группами</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Группы</h4>
            <table class="table">
                <tr>
                    <th>Наименование</th>
                    <th>Действия</th>
                </tr>
                @foreach (var role in ViewBag.Groups)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            @Html.ActionLink("Подробно", "GroupDetails", new { id = role.Name }) |
                            @Html.ActionLink("Удалить", "GroupDelete", new { id = role.Name })
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Создать новую группу", "GroupCreate")
        </div>
        <div class="col">
            <h4>Пользователи</h4>
            <table class="table">
                <tr>
                    <th>Имя</th>
                    <th>Действия</th>
                </tr>
                @foreach (var user in ViewBag.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            @Html.ActionLink("Подробно", "UserDetails", new { id = user.Id }) |
                            @Html.ActionLink("Изменить", "UserEdit", new { id = user.Id }) |
                            @Html.ActionLink("Удалить", "UserDelete", new { id = user.Id })
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Создать нового пользователя", "UserCreate")
        </div>
    </div>
</div>
   
