
@model cerberus.DTO.ApplicationUserDTO

@{
    ViewBag.Title = "Изменить";
}

<h2>Изменить</h2>

@using (Html.BeginForm("UserEdit", "GroupUser", FormMethod.Post))
{
    <div class="form-control">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Name)

        @Html.Label("Пароль:")
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" , @placeholder = "неизменен"})
    
        <label for="Roles">Роли:</label>
        <div id="roleContainer">

            <button type="button" id="addRoleButton" class="btn btn-primary">Добавить</button>
            @foreach (var selectedRole in Model.Roles)
            {
                <div class="roleRow">

                    <select class="form-control" name="Roles[@selectedRole.Value]">
                        <option value="">Выбрать роль</option>
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role.Name" @(role.Name == selectedRole.Key ? "selected" : "")>@role.Name</option>
                        }
                    </select>
                    <button class="removeRole">Удалить</button>
                </div>
            }
        </div>

    </div>

    <input type="submit" value="Подтвердить" class="btn btn-primary" />
}

@Html.ActionLink("Обратно", "Index")

<div class="roleVariantStorage visually-hidden">
    @foreach (var role in ViewBag.Roles)
    {
        <option value="@role.Name">@role.Name</option>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $("#addRoleButton").click(function () {
                var roleRow = '<div class="roleRow">' +
                    '<select class="form-control" name="Roles[' + generateRandomUUID() + ']">' +
                    $('.roleVariantStorage').html() +
                    '</select>' +
                    '<button class="removeRole">Удалить</button>' +
                    '</div>';
                $("#roleContainer").append(roleRow);
            });
            $("#roleContainer").on("click", ".removeRole", function (event) {
                event.stopPropagation();
                $(this).parent().remove();
            });
        });
    </script>
}