@model cerberus.DTO.ApplicationUserDTO

@{
    ViewBag.Title = "Создать пользователя";
}

<h2>Создать пользователя</h2>

@using (Html.BeginForm("UserCreate", "GroupUser", FormMethod.Post))
{
    <div class="form-control container">
        @Html.Label("Имя пользователя")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

        @Html.Label("Пароль")
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

        @Html.Label("Роли")
        <div id="roleContainer">
            <button type="button" id="addRoleButton" class="btn btn-info">Добавить</button>
        </div>
    </div>
        <input type="submit" value="Создать" class="btn btn-primary"/>
    
}

@Html.ActionLink("Обратно", "Index")

<div class="roleVariantStorage visually-hidden">
    <option value="">Выбрать роль</option>
    @foreach (var role in ViewBag.Roles)
    {
        <option value="@role.Name">@role.Name</option>
    }
</div>
@section scripts {

    <script>
        $(function () {
            $("#addRoleButton").click(function () {
                var roleRow = '<div class="roleRow">' +
                    
                    '<select class="form-control" name="Roles[' + ($(this).parent().length - 1) + ']">' +
                    $('.roleVariantStorage').html()
                '</select>' +
                    '</div>';
                $("#roleContainer").append(roleRow);
            });
        });
    </script>
}