
@model cerberus.Models.ViewModels.ApplicationUserEditModel

@{
    ViewBag.Title = "Изменить";
}

<h2>Изменить</h2>

@using (Html.BeginForm("UserEdit", "GroupUser", FormMethod.Post))
{
    <div class="form-control">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserName)

        @Html.Label("Пароль:")
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "неизменен" })

        <label for="Groups">Роли:</label>
        <div id="roleContainer">

            <button type="button" id="addRoleButton" class="btn btn-primary">Добавить</button>
            @if(Model.Groups != null) {
                foreach (var selectedRole in Model.Groups)
                {
                    <div class="roleRow">

                        <select class="form-control" name="Groups[@selectedRole.Key]">
                            <option value="">Выбрать роль</option>
                            @foreach (var role in ViewBag.Groups)
                            {
                                <option value="@role.Id" @(role.Id == selectedRole.Value ? "selected" : "")>@role.Name</option>
                            }
                        </select>
                        <button class="removeRole">Удалить</button>
                    </div>
                }
            }
        </div>

    </div>

    <input type="submit" value="Подтвердить" class="btn btn-primary" />
}

@Html.ActionLink("Обратно", "Index")

<div class="roleVariantStorage visually-hidden">
    @foreach (var role in ViewBag.Groups)
    {
        <option value="@role.Id">@role.Name</option>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $("#addRoleButton").click(function () {
                var roleRow = '<div class="roleRow">' +
                    '<select class="form-control" name="Groups[' + generateRandomUUID() + ']">' +
                    $('.roleVariantStorage').html() +
                    '</select>' +
                    '<button class="removeRole">Удалить</button>' +
                    '</div>';
                $("#roleContainer").append(roleRow);
            });
            $("#roleContainer").on("click", ".removeRole", function (event) {
                event.stopPropagation();
                $(this).parent().remove();
            });
        });
    </script>
}